---
name: publish_prod

on:
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.12']
    permissions:
      contents: write  # Required for pushing to gh-pages
    steps:
      - uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          # https://github.com/astral-sh/setup-uv?tab=readme-ov-file#github-authentication-token
          github-token: ${{ secrets.GITHUB_TOKEN }}
          python-version: ${{ matrix.python-version }}

      - name: Install MkDocs and dependencies
        run: uv sync --no-dev

      - name: Generate diff files
        run: uv run --script docs/examples/preprocess.py

      - name: Toggle skip error checks on generate_diffs.sh
        run: ./docs/examples/toggle_skip_generate_diffs_err_check.sh
        shell: bash

      - name: Build MkDocs site
        run: uv run mkdocs build --site-dir ./_build/html

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./_build/html

      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force --no-history --site-dir ./_build/html
