name: Tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  generate_files:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v1

    - name: Install dependencies
      run:  python3 -m pip install -r docs/requirements.txt

    - name: Run files generation tests
      run:  pre-commit run --all-files && [[ -z "$(git status -s)" ]]

  launch-slurm-actions-runner:
    needs: [generate_files]
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - name: Copy job script to the cluster
        run: |
          ssh mila mkdir -p "/tmp/${GITHUB_RUN_ID}"
          scp .github/setup_github_runner.sh mila:"/tmp/${GITHUB_RUN_ID}/setup_github_runner.sh"

      - name: Launch Slurm Actions Runner
        run: |
          ssh mila 'cd "${SCRATCH}" && sbatch --job-name="gh-actions-runner-${GITHUB_RUN_ID}" --parsable "/tmp/${GITHUB_RUN_ID}/setup_github_runner.sh"'

  # This step runs in a self-hosted Github Actions runner inside a SLURM job on a compute node of the cluster.
  slurm_integration_tests:
    name: Run integration tests on the Mila cluster in a SLURM job
    needs: [launch-slurm-actions-runner]
    runs-on: ["self-hosted", "mila-1"]
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "latest"
          # https://github.com/astral-sh/setup-uv?tab=readme-ov-file#github-authentication-token
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Install dependencies
        run: uv sync --all-groups --frozen
      - name: Test with pytest
        # TODO: Fix issue where jobs fail if running pytest with -n 4.
        # FAILED tests/test_examples.py::test_example[frameworks/pytorch_setup-False-] - RuntimeError: Job 8190801 is not completed
        # $ sacct --job 8190801
        #      User JobID           JobName  Partition      State  Timelimit               Start                 End    Elapsed   NNodes      NCPUS     ReqMem  AllocTRES        NodeList              WorkDir 
        # --------- ------------ ---------- ---------- ---------- ---------- ------------------- ------------------- ---------- -------- ---------- ---------- ---------- --------------- -------------------- 
        #  ortizgas 8190801      minimal_e+       long     FAILED   00:15:00 2025-11-24T18:52:23 2025-11-24T18:52:24   00:00:01        1          1        16G cpu=1,gre+         cn-l020 /tmp/_work/mila-doc+ 
        run: uv run --all-groups --frozen pytest -v

      # TODO: Add code coverage for the examples?
      # - name: Store coverage report as an artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: coverage-reports-slurm-integration-tests-mila
      #     path: ./coverage.xml
